.deposits-chart-container {
  background-color: white;
  border-radius: 16px;
  border: .2px solid rgba(185, 194, 209, 1);
  padding: 34px;
  gap: 24px;
  width: 527px auto;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 12px;
  position: relative;
  width: 572px auto;
  height: 36.4px;
}

.chart-title {
  font-size: 20px;
  font-weight: 700;
  color: rgba(65, 68, 73, 1);
  margin: 0;
  margin-top: -50px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.chart-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.legend-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 16px;
  margin-right: 20px;
}

.legend-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.legend-dot.withdrawals {
  background-color: rgba(42, 168, 102, 1);
}

.legend-dot.deposits {
  background-color: rgba(127, 116, 231, 1);
}

.legend-text {
  font-size: 11px;
  color: rgba(65, 68, 73, 1);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  border: .4px solid #d1d5db;
  border-radius: 4px;
  background-color: rgba(248, 249, 250, 1);
  padding-right: 8px;
  margin-top: 6px;
  margin-left: 100px;
  z-index: 10;
}

.time-selector {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  padding: 0px 6px;
  height: 30px;
  width: 74px;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.header-line {
  position: absolute;
  left: 0;
  right: 0;
  height: .4px;
  background-color: rgba(185, 194, 209, 1);
  top: 100%;
  transform: translateY(-50%);
  z-index: 1;
}

.time-selector:focus {
  outline: none;
  border-color: #8b5cf6;
}

.chart-wrapper {
  height: 275px;
  width: 572px auto;
}

/* Responsive design */
@media (max-width: 768px) {
  .chart-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .chart-controls {
    width: 100%;
    align-items: flex-start;
  }
  
  .legend-container {
    gap: 12px;
    width: 100%;
  }
}