.header {
  background-color: #eff1f4;
    position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 82vw;
}

.header-title {
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  line-height: 120%;
  letter-spacing: -1px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  cursor: pointer;
  border: 0.5px solid rgba(233, 236, 241, 1);
  transition: background-color 0.2s ease;
}

.notification-bg-image {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.notification-icon:hover {
  background-color: rgba(233, 236, 241, 1);
}

.header-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: rgba(212, 212, 216, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eff1f4;
  box-shadow: 0 0 0 0.5px rgba(212, 212, 216, 1);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.avatar-text {
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.user-info {
  text-align: left;
  margin-left: -10px;
}

.user-names {
  font-size: 14px;
  font-weight: 400;
  color: rgba(65, 68, 73, 1);
  margin-bottom: 2px;
  line-height: 20px;
  letter-spacing: 0%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.user-email {
  font-size: 12px;
  color: rgba(65, 68, 73, 1);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (max-width: 800px) {
  .header-title {
  font-size: 20px;
  margin-left: -38px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  line-height: 120%;
  letter-spacing: -1px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

  .header-user {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: -10px;
  }
  .notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 44px;
    border-radius: 100%;
    cursor: pointer;
    border: 0.5px solid rgba(233, 236, 241, 1);
    transition: background-color 0.2s ease;
  }
  .user-avatar {
    width: 30px;
    height: 30px;
    background-color: rgba(212, 212, 216, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eff1f4;
    box-shadow: 0 0 0 0.5px rgba(212, 212, 216, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .avatar-text {
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .user-info {
    text-align: left;
    margin-left: -10px;
    margin-top: -10px;
  }

  .user-names {
    font-size: 11px;
    font-weight: 400;
    color: rgba(65, 68, 73, 1);
    margin-bottom: 2px;
    line-height: 20px;
    letter-spacing: 0%;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .user-email {
    font-size: 10px;
    color: rgba(65, 68, 73, 1);
    font-weight: 600;
    line-height: 40%;
    letter-spacing: 0.5px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: -30px;
  }
}
