.user-main-content {
  max-width: 80vw;
  margin: 0 auto;
  padding: 24px 12px 24px 12px;
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
}