.staff-main-content {
  max-width: 100vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .user-payment-section {
    width: 90vw;
    background: none;
    margin: 0;
    padding: 0;
  }
}
