.total-funds-container {
  display: flex;
  gap: 15px;
  width: 817px ;
  height: 162px;
  margin-bottom:15px;
}

.funds-card {
  border-radius: 10px;
  border: .5px solid rgba(223, 227, 234, 1);
  padding: 20px 27px 20px 27px;
  min-width: 280px;
  flex: 1;
  gap: 16px;

}

.flag-container {
  margin-bottom: 20px;
  border: .5px solid rgba(223, 227, 234, 1);
  width: 44px;
  height: 44px;
  border-radius: 20px;
  align-content: center;
  gap: 10px;
  padding: 8.5px;
}

.flag-image {
  width: 24px;
  height: 24px;
  border-radius: 42px;
}

.funds-amount {
  font-size: 28px;
  font-weight: 600;
  color: rgba(65, 68, 73, 1);
  margin-bottom: 8px;
  line-height: 120%;
  letter-spacing: -1px;
  height: 34px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.funds-label {
  font-size: 14px;
  color: rgba(131, 138, 148, 1);
  font-weight: 400;
  letter-spacing: -0.05px;
  text-transform: uppercase;
  line-height: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (max-width: 640px) {
  .total-funds-container {
    flex-direction: column;
  }
  
  .funds-card {
    min-width: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .total-funds-container {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 162px;
  margin-bottom:15px;
}
}